# 전처리할 파일 불러오기

## 'normal' 컬럼의 값 채우기

In [4]:
import pandas as pd

all = pd.read_csv('./data/20200526_final_df.csv')
all.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter
0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,1,1,1
1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1
2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0
3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1
4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,0,1,0,0,0

In [5]:
# 컬럼명으로만 이루어진 리스트 만들기
all2 = all[['menu','review','spicy', 'sweet', 'sour', 'saulty',
       'mild', 'for_vegitarian', 'for_mania', 'for_starter']]

In [24]:
# 맛의 모든 값이 0인 로우 찾기 
df = all2[(all2["spicy"] == 0) & (all2["sweet"]==0) & (all2["sour"]==0) & (all2["saulty"]==0) & (all2["mild"]==0) & (all2["for_vegitarian"]==0) & (all2['for_mania']==0) & (all2["for_starter"]==0)]
df

,menu,review,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter
2,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",i like this place a lot. one of the best korea...,0,0,0,0,0,0,0,0
11,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",my first korean food experience and the bulgog...,0,0,0,0,0,0,0,0
13,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",very fast service. dolsot bibimbap was very g...,0,0,0,0,0,0,0,0
18,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...","to echo someone else's review, smallest glass ...",0,0,0,0,0,0,0,0
24,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",this place is so good! this was my second time...,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
110891,"['friedchicken', 'yangnyeomchicken']","brilliant service , brilliant pricing , same c...",0,0,0,0,0,0,0,0
110896,"['friedchicken', 'yangnyeomchicken']",this has to be the best fried chicken i've had...,0,0,0,0,0,0,0,0
110897,"['friedchicken', 'yangnyeomchicken']",been here twice now. first time i had the kore...,0,0,0,0,0,0,0,0
110902,"['friedchicken', 'yangnyeomchicken']","we had the chicken there chips, we got a full ...",0,0,0,0,0,0,0,0
110907,"['friedchicken', 'yangnyeomchicken']",a little squeezey but food is the star. a good...,0,0,0,0,0,0,0,0

### 맛표현 딕셔너리 2차

In [ ]:
taste_word_dict = {
'spicy' : ['spicy','hot','pain','insane'],
'sweet' : ['sweet','sugar','honey','fruit'],
'sour' : ['sour', 'tart','lemon'],
'saulty' : ['saulty','savory','sault','salt','saultier'],
'mild' : ['mild','creamy','fluffy','plain'],    
    
'for_vegitarian' : ['vegi','fresh','vege','vegun','vegu'],
'for_mania' : [
    'tradition','national','exotic','essential','beautiful','rarley',
'love','local','impressive','special','craved','plentiful','flavor',    
'interesting','favulous','homemade','adventurous','culture','sufficient',    
'excellent','recommend','authentic', 'ador', 'fantastic', 'wonderful'],     

'for_starter' :[
    'crispy','creamy','yammi', 'flavour','flavor', 'known',   'basic','recommend','crowd',    
 'starter',   'kids','normal','mostly','family','called','named','successful',    
 'begginer','plentiful','excellent','foreigner','favulous','easy','introduced',    
 'sufficient','authentic', 'ador', 'fantastic', 'wonderful']
}

In [40]:
# 확인
# df['review'].iloc[0]

'i like this place a lot. one of the best korean restaurants the area. friendly people. only thing is the price is a bit much, but you do get a lot of food.'

- 데이터셋 다시 호출 (다른 변수로 받는다)

In [2]:
import pandas as pd
all_data3 = pd.read_csv('./data/20200526_final_df.csv')
all_data3.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter
0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,1,1,1
1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1
2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0
3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1
4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,0,1,0,0,0

### 맛표현 딕셔너리 3차 
- 오타 수정 / 단어 추가

In [3]:
taste_word_dict3 = {
'spicy' : ['spicy','hot','pain','insane','hurt'],
'sweet' : ['sweet','sugar','honey','fruit'],
'sour' : ['sour', 'tart','lemon'],
'saulty' : ['saulty','savory','sault','salt','saultier','sizzl',],
'mild' : ['mild','creamy','fluffy','plain'],    
    
'for_vegitarian' : ['vegi','fresh','vege','vegun','vegu','vegg',],
'for_mania' : [
    'tradition','national','exotic','essential','beautiful','rarley',
'love','local','impressive','special','craved','plentiful','flavor',    
'interesting','favulous','homemade','adventurous','culture','sufficient',    
'excellent','recommend','authentic', 'ador', 'fantastic', 'wonderful','all great',
"can't wait",'amaz','so far','superb','definitely','try','first time','bomb',
'delicious',],     

'for_starter' :[
    'crispy','creamy','yammi', 'flavour','flavor', 'known', 'basic','recommend','crowd',    
 'starter',   'kids','mostly','family','called','named','successful',    
 'begginer','plentiful','excellent','foreigner','favulous','easy','introduced',    
 'sufficient','authentic', 'ador', 'fantastic', 'wonderful','typical',
'satisf','nation''tasty','tasteful','korean style','k-food','great+best+good'+'selection',
'variety',],
}

- 3차 딕셔너리로 한번 더 필터링

In [4]:
from tqdm import tqdm_notebook
for idx, txt in tqdm_notebook(enumerate(all_data3['review'])):
    #print( idx, txt)
    # 맛의 표현중에 해당 단어가 존재하면 1 없으면 0 
    # 8개의 큰 카테고리를 탐색
    for key, values in taste_word_dict3.items():
        #print(key, values)
        # 해당 값들이(맛을 표현하는 단어들)이 맛의 표현에 존재하는가?
        for v in values:
            #print( v )            
            if  v in txt:
                # 표현이 존재                
                all_data3[key][idx] = 1              
                        
            #break
        #break
    #break
all_data3.head()

/home/team/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

/home/team/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter
0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,1,1,1
1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1
2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0
3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1
4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110908,110908,110908,110908,MrsOS2014,Sam Sam Korean Fried Chicken,3,only 2 veggie dishes on menu - vegetable noodl...,"['friedchicken', 'yangnyeomchicken']",0,1,0,0,1,0,1,0,0
110909,110909,110909,110909,Alison A,Sam Sam Korean Fried Chicken,4,we enjoyed ourselves so much we returned the n...,"['friedchicken', 'yangnyeomchicken']",1,1,1,0,0,0,0,1,0
110910,110910,110910,110910,addiction4travel,Sam Sam Korean Fried Chicken,4,went with a couple of friends for dinner. chic...,"['friedchicken', 'yangnyeomchicken']",0,0,0,0,0,0,0,1,0
110911,110911,110911,110911,152JoyB,Sam Sam Korean Fried Chicken,5,"we both enjoyed our meal at this restaurant, a...","['friedchicken', 'yangnyeomchicken']",1,0,0,0,0,0,0,1,1
110912,110912,110912,110912,LC888,Sam Sam Korean Fried Chicken,4,"the place was busy, doesn't take reservation a...","['friedchicken', 'yangnyeomchicken']",0,0,0,0,1,0,0,1,0

- 모든 맛표현 값이 0인 것 찾기

In [5]:
all_none = all_data3[(all_data3["spicy"] == 0) & (all_data3["sweet"]==0) & (all_data3["sour"]==0) & (all_data3["saulty"]==0) & (all_data3["mild"]==0) & (all_data3["for_vegitarian"]==0) & (all_data3['for_mania']==0) & (all_data3["for_starter"]==0)]
all_none

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter
2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0
47,47,47,47,kw4pkLMHjkvc3qDT44jaTg,Seoul Garden Korean Restaurant,3,"good food, good value makes up (somewhat) for ...","['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0
58,58,58,58,M9kCst6EE6IVogevoGNUZw,Seoul Garden Korean Restaurant,2,the food here was absolutely outstanding but ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,0,0,0,0,0,0,0,0
61,61,61,61,hI6By5aB7dbR8g8m8Hd3zg,Seoul Garden Korean Restaurant,3,i know what i want so i get right to it. small...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,0,0,0,0,0,0,0,0
67,67,67,67,_CBqJE0IP6M9MKyci_bhUA,Seoul Garden Korean Restaurant,1,i can't believe yelp has filtered my review of...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110873,110873,110873,110873,lachkeira,Sam Sam Korean Fried Chicken,4,"a small place so tables can be at a premium, a...","['friedchicken', 'yangnyeomchicken']",1,0,0,0,0,0,0,0,0
110878,110878,110878,110878,Francis A,Sam Sam Korean Fried Chicken,1,stay away.\n\ni was waiting for table for abt ...,"['friedchicken', 'yangnyeomchicken']",0,0,0,0,0,0,0,0,0
110891,110891,110891,110891,keezaTugun,Sam Sam Korean Fried Chicken,4,"brilliant service , brilliant pricing , same c...","['friedchicken', 'yangnyeomchicken']",0,0,0,0,0,0,0,0,0
110902,110902,110902,110902,BrettB1271,Sam Sam Korean Fried Chicken,4,"we had the chicken there chips, we got a full ...","['friedchicken', 'yangnyeomchicken']",1,0,0,0,0,0,0,0,0
110907,110907,110907,110907,Arlene K,Sam Sam Korean Fried Chicken,5,a little squeezey but food is the star. a good...,"['friedchicken', 'yangnyeomchicken']",1,0,0,0,0,0,0,0,0

- normal 컬럼 만들기 (초기값은 0으로 일괄처리)

In [7]:
all_data3['normal'] = 0
all_data3

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter,normal
0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,1,1,1,0
1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0,0
3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110908,110908,110908,110908,MrsOS2014,Sam Sam Korean Fried Chicken,3,only 2 veggie dishes on menu - vegetable noodl...,"['friedchicken', 'yangnyeomchicken']",0,1,0,0,1,0,1,0,0,0
110909,110909,110909,110909,Alison A,Sam Sam Korean Fried Chicken,4,we enjoyed ourselves so much we returned the n...,"['friedchicken', 'yangnyeomchicken']",1,1,1,0,0,0,0,1,0,0
110910,110910,110910,110910,addiction4travel,Sam Sam Korean Fried Chicken,4,went with a couple of friends for dinner. chic...,"['friedchicken', 'yangnyeomchicken']",0,0,0,0,0,0,0,1,0,0
110911,110911,110911,110911,152JoyB,Sam Sam Korean Fried Chicken,5,"we both enjoyed our meal at this restaurant, a...","['friedchicken', 'yangnyeomchicken']",1,0,0,0,0,0,0,1,1,0
110912,110912,110912,110912,LC888,Sam Sam Korean Fried Chicken,4,"the place was busy, doesn't take reservation a...","['friedchicken', 'yangnyeomchicken']",0,0,0,0,1,0,0,1,0,0

In [ ]:
# list(all_data3.index)

In [8]:
# 확인
# all_data3['normal'][0]

0

- normal 컬럼 추가 된 데이터프레임 저장 (3차)

In [10]:
all_data3.to_csv('./data/final_dataframe_ver3.csv')

# 저장 파일 열기 (3차)

In [107]:
all_data4 = pd.read_csv('./data/final_dataframe_ver3.csv')
all_data4.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter,normal
0,0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,1,1,1,0
1,1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
2,2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0,0
3,3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
4,4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,0,1,0,0,0,0

In [22]:
all_none.head()

,index,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter
0,2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0
1,47,47,47,47,kw4pkLMHjkvc3qDT44jaTg,Seoul Garden Korean Restaurant,3,"good food, good value makes up (somewhat) for ...","['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0
2,58,58,58,58,M9kCst6EE6IVogevoGNUZw,Seoul Garden Korean Restaurant,2,the food here was absolutely outstanding but ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,0,0,0,0,0,0,0,0
3,61,61,61,61,hI6By5aB7dbR8g8m8Hd3zg,Seoul Garden Korean Restaurant,3,i know what i want so i get right to it. small...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,0,0,0,0,0,0,0,0
4,67,67,67,67,_CBqJE0IP6M9MKyci_bhUA,Seoul Garden Korean Restaurant,1,i can't believe yelp has filtered my review of...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,0,0,0,0,0,0,0,0

In [108]:
print(all_data3.columns)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'user_name', 'res_name',
       'rating', 'review', 'menu', 'PN', 'spicy', 'sweet', 'sour', 'saulty',
       'mild', 'for_vegitarian', 'for_mania', 'for_starter', 'normal'],
      dtype='object')

In [109]:
# 맛 표현 컬럼만 보기 
sum_all = all_data3[['spicy', 'sweet', 'sour', 'saulty',
       'mild', 'for_vegitarian', 'for_mania', 'for_starter']]

In [74]:
sum(sum_all.iloc[3])

2

In [75]:
sum_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110913 entries, 0 to 110912
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   spicy           110913 non-null  int64
 1   sweet           110913 non-null  int64
 2   sour            110913 non-null  int64
 3   saulty          110913 non-null  int64
 4   mild            110913 non-null  int64
 5   for_vegitarian  110913 non-null  int64
 6   for_mania       110913 non-null  int64
 7   for_starter     110913 non-null  int64
dtypes: int64(8)
memory usage: 6.8 MB

- normal 컬럼 값 넣기

In [ ]:
# 선생님이 짜주신 거 
for idx in range(len(all_data4)) :
    if sum(sum_all.iloc[idx]) == 0 :
        # 맛표현 컬럼 중 행 별로 모든 값을 합친 값이 0인 행에 1 부여 
        all_data4['normal'][idx] = 1
        
## 밑엔 시행착오 코드 
        #pass
    #print(idx, sum(sum_all.iloc[idx]), all_data4['normal'][idx])
    #if idx>5:
    #    break
#         print(sum(sum_all.iloc[3]))
#     break
#         print(idx)
#         print(sum(sum_all.iloc[idx]))
#        all_data3['normal'][idx] = 1
# all_data3

In [112]:
all_data4.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter,normal
0,0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,1,1,1,0
1,1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
2,2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0,1
3,3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
4,4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,0,1,0,0,0,0

In [114]:
all_data4.to_csv('./data/final_dataframe_ver4.csv',index=False)

# 데이터프레임 불러오기 (4차)

In [116]:
change_data = pd.read_csv('./data/final_dataframe_ver4.csv')
change_data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter,normal
0,0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,1,0,1,1,1,0
1,1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
2,2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,0,0,1
3,3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",1,0,0,0,0,0,0,1,1,0
4,4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj...",0,1,0,0,0,1,0,0,0,0

In [147]:
change_data[['menu']].sample(20)

                                                     menu
42705                     ['kimchibokkeumbap', 'bulgogi']
54377                                     ['samgyeopsal']
43533   ['yangnyeomchicken', 'friedchicken', 'kimchije...
6717                                    ['japaness food']
64632                              ['bibimbap', 'pajeon']
2024                       ['sundubujjigae', 'galbitang']
29835   ['mulnaengmyeon', 'gamjatang', 'bulgogi', 'gam...
57550                                        ['galbigui']
96745   ['yubuchobap', 'yukhoe', 'bibimbap', 'tteokgal...
106960                                    ['samgyeopsal']
45533                                     ['samgyeopsal']
104114                                    ['samgyeopsal']
90146                      ['baechukimchi', 'baekkimchi']
63894                     ['kimchijjigae', 'samgyeopsal']
96317   ['yubuchobap', 'yukhoe', 'bibimbap', 'tteokgal...
19801                         ['galbigui', 'samgyeopsal']
41634                                        ['bibimbap']
29308                                     ['samgyeopsal']
51747                    ['kimchibokkeumbap', 'galbigui']
70290    ['jeyukbokkeum', 'doenjangjjigae', 'kimchijeon']

In [2]:
### 시행착오 코드 ###

# for idx,raw in enumerate(change_data['menu']) :
#     raw_split = raw[1:-1].split(",")
#     print(raw_split)    
#     raw_list = list()
#     for leng in range(len(raw_split)) :
#         if leng == 0:
#             amu = raw_split[leng][1:-1]
#             raw_list.append(amu)
#         else :
#             amu = raw_split[leng][2:-1]
#             raw_list.append(amu)
#         change_data["menu"][idx] = raw_list

In [176]:
change_data

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,user_name,res_name,rating,review,menu,PN,spicy,sweet,sour,saulty,mild,for_vegitarian,for_mania,for_starter,normal
0,0,0,0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,we have been here three times now and have lov...,[],0,1,0,0,1,0,1,1,1,0
1,1,1,1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,seoul garden was excellent. we moved to this ...,[lbita],1,0,0,0,0,0,0,1,1,0
2,2,2,2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,i like this place a lot. one of the best korea...,[lbita],1,0,0,0,0,0,0,0,0,1
3,3,3,3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,korean barbecue at its finest. the outside doe...,[lbita],1,0,0,0,0,0,0,1,1,0
4,4,4,4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,food was ok. the food looks good in pictures b...,[lbita],0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110908,110908,110908,110908,110908,MrsOS2014,Sam Sam Korean Fried Chicken,3,only 2 veggie dishes on menu - vegetable noodl...,[ngnyeomchick],0,1,0,0,1,0,1,0,0,0
110909,110909,110909,110909,110909,Alison A,Sam Sam Korean Fried Chicken,4,we enjoyed ourselves so much we returned the n...,[ngnyeomchick],1,1,1,0,0,0,0,1,0,0
110910,110910,110910,110910,110910,addiction4travel,Sam Sam Korean Fried Chicken,4,went with a couple of friends for dinner. chic...,[ngnyeomchick],0,0,0,0,0,0,0,1,0,0
110911,110911,110911,110911,110911,152JoyB,Sam Sam Korean Fried Chicken,5,"we both enjoyed our meal at this restaurant, a...",[ngnyeomchick],1,0,0,0,0,0,0,1,1,0
110912,110912,110912,110912,110912,LC888,Sam Sam Korean Fried Chicken,4,"the place was busy, doesn't take reservation a...",[ngnyeomchick],0,0,0,0,1,0,0,1,0,0

In [4]:
# all_data4['menu'][0][1:-1].split(",")

- 확인 => list 가 str 으로 불려와졌다 (해결책은 다음 주피터노트북 파일에 있음 )

In [ ]:
all_data4['menu'][0]

In [158]:
# all_data4['menu'][0][1:-1].split(",")
# all_data4['menu'][0][1:-1].split(",")[2]

" 'kimchijjigae'"

In [160]:
# all_data_str = all_data4['menu'][1][1:-1].split(",")

In [172]:
# all_data_str[3][2:-1]

'doenjangjjigae'

In [183]:
all_data4['menu'][0]

"['bulgogi', 'galbigui', 'kimchijjigae', 'doenjangjjigae', 'galbitang']"

-

- str 값을 리스트로 바꾸기 위해 단어만 뽑아오기

In [206]:
for word in "[]".replace('[','').replace(']','').split(","):
        print(word.strip().replace("'",''))

- 함수를 써보자 !

In [5]:
def wordChg( data ):
    #print( all_data4['menu'][idx])
    tmp = list()
    #for word in all_data4['menu'][idx].replace('[','').replace(']','').split(","):
    for word in data.replace('[','').replace(']','').split(","):        
        tmp.append(word.strip().replace("'",''))
    return tmp
wordChg("[]")

['']

In [214]:
#all_data4['menu']
all_data4['menu'] = all_data4['menu'].apply( lambda x:wordChg(x) )

In [225]:
type(all_data4['menu'][0])

list

In [229]:
all_data4 = all_data4.drop(["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.1.1", "Unnamed: 0.1.1.1"], axis=1)

In [234]:
all_data4.columns

Index(['user_name', 'res_name', 'rating', 'review', 'menu', 'PN', 'spicy',
       'sweet', 'sour', 'saulty', 'mild', 'for_vegitarian', 'for_mania',
       'for_starter', 'normal'],
      dtype='object')

In [235]:
jinjaru = all_data4[['user_name', 'res_name', 'rating', 'review', 'menu', 'PN', 'spicy',
       'sweet', 'sour', 'saulty', 'mild', 'normal', 'for_vegitarian', 'for_mania',
       'for_starter']]

In [250]:
jinjaru.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110913 entries, 0 to 110912
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_name       110913 non-null  object
 1   res_name        110913 non-null  object
 2   rating          110913 non-null  int64
 3   review          110913 non-null  object
 4   menu            110913 non-null  object
 5   PN              110913 non-null  int64
 6   spicy           110913 non-null  int64
 7   sweet           110913 non-null  int64
 8   sour            110913 non-null  int64
 9   saulty          110913 non-null  int64
 10  mild            110913 non-null  int64
 11  normal          110913 non-null  int64
 12  for_vegitarian  110913 non-null  int64
 13  for_mania       110913 non-null  int64
 14  for_starter     110913 non-null  int64
dtypes: int64(11), object(4)
memory usage: 12.7+ MB

# 전처리 final 파일 저장

In [255]:
jinjaru.to_csv('./data/jinjaru.csv',index=False)

In [254]:
type(jinjaru['menu'][0])

list